@use "sass:map";
@import "styles/variables";

.blogsingle {
	padding: map.get( $spaces, "xxxl" ) map.get( $spaces, "xl" ) 0 map.get( $spaces, "xl" );
	max-width: 750px;
	margin: 0 auto;
	box-sizing: content-box;


	&_title {
		font-size: map.get( $fontsizes, "h2" );
		font-weight: 700;
	}

	&_content {
		border-top: map.get( $borders, "default" ) solid map.get( $colours, "pinkred" );
		padding-top: calc(map.get( $spaces, "xxl" ));
	}

	&_back {
		padding-top: map.get( $spaces, "xxl" );
	}
}
