@use "sass:map";
@import "styles/variables";

.logo {
	text-decoration: none;
	transition: color 0.3s ease;
	height: 60px;
	max-height: 100%;
	max-width: 100%;

	@media ( min-width: map.get( $breakpoints, "md" ) ) {
		max-height: 80px;
	}

	&:hover,
	&:focus {
		color: map.get( $colours, "pinkred" );
	}

	img {
		max-height: 100%;
	}
}