@use "sass:map";
@import "styles/variables";

.button {
	position: relative;
	transition: all 0.3s ease;
	border: solid map.get( $borders, "default" ) map.get( $colours, "black" );
	background-color: map.get( $colours, "black" );
	padding: map.get( $spaces, "xxs" ) map.get( $spaces, "xs" );
	text-transform: uppercase;
	text-decoration: none;
	color: map.get( $colours, "yellow" );
	font: inherit;
	font-size: inherit;
	font-weight: 700;
	font-variation-settings: 'wght' 700;

	&:focus {
		color: map.get( $colours, "pinkred" );
	}

	&:disabled {
		opacity: 0.5;
	}

	@media (hover: hover) {
		&:hover:not( &:disabled ) {
			cursor: pointer;
			border: solid map.get( $borders, "default" ) map.get( $colours, "pinkred" );
			background-color: map.get( $colours, "pinkred" );
			//color: inherit;
		}
	}
}

.button-primary {
	border: solid map.get( $borders, "default" ) map.get( $colours, "pinkred" );
	background-color: map.get( $colours, "pinkred" );

	@media (hover: hover) {
		&:hover:not( &:disabled ) {
			border: solid map.get( $borders, "default" ) map.get( $colours, "black" );
		}
	}
}

.button-secondary {
	border: solid map.get( $borders, "default" ) map.get( $colours, "cyan" );
	background-color: map.get( $colours, "cyan" );

	@media (hover: hover) {
		&:hover:not( &:disabled ) {
			border: solid map.get( $borders, "default" ) map.get( $colours, "black" );
		}
	}
}

.button-outline {
	border: solid map.get( $borders, "default" ) map.get( $colours, "black" );
	background-color: #0000;
	color: inherit;

	@media (hover: hover) {
		&:hover:not( &:disabled ) {
			border: solid map.get( $borders, "default" ) map.get( $colours, "pinkred" );
			background-color: #0000;
		}
	}
}