@use "sass:map";
@import "styles/variables";

.button {
	color: inherit;
	background-color: transparent;
	border: 0;
	text-decoration: none;
	transition: color 0.3s ease;
	text-transform: capitalize;
	font-size: inherit;
	font-weight: 700;
	position: relative;
	padding: 0;
	padding-bottom: 15px;
	align-self: flex-start;
	display: inline-flex;
	align-items: center;

	&::after {
		content: "";
		display: block;
		position: absolute;
		height: 3px;
		left: 0;
		right: 0;
		bottom: 8px;
		background-color: map.get( $colours, "pinkred" );
		transition: left 0.3s ease;
	}

	&:focus {
		color: map.get( $colours, "pinkred" );
	}

	@media (hover: hover) {
		&:hover {
			cursor: pointer;
			color: map.get( $colours, "pinkred" );

			&::after {
				left: 100%;
			}
		}
	}
}