@use "sass:map";
@import "styles/variables";

.button,
.button-primary,
.button-secondary,
.button-outline {
	position: relative;
	transition: all 0.3s ease;
	border: solid map.get( $borders, "default" ) map.get( $colours, "black" );
	background-color: map.get( $colours, "black" );
	padding: map.get( $spaces, "xxs" ) map.get( $spaces, "xs" );
	text-transform: uppercase;
	text-decoration: none;
	color: map.get( $colours, "yellow" );
	font: inherit;
	font-size: inherit;
	font-weight: 700;
	font-variation-settings: 'wght' 700;

	&:focus {
		color: map.get( $colours, "pinkred" );
	}

	&:disabled {
		opacity: 0.5;
	}

	&~button {
		margin-left: map.get( $spaces, "sm" );
	}

	@media (hover: hover) {
		&:hover:not( &:disabled ) {
			cursor: pointer;
			border: solid map.get( $borders, "default" ) map.get( $colours, "hotpurple" );
			background-color: map.get( $colours, "hotpurple" );
			color: inherit;
		}
	}

	&-primary {
		border: solid map.get( $borders, "default" ) map.get( $colours, "hotpurple" );
		background-color: map.get( $colours, "hotpurple" );

		@media (hover: hover) {
			&:hover:not( &:disabled ) {
				border: solid map.get( $borders, "default" ) map.get( $colours, "black" );
			}
		}
	}

	&-outline {
		border: solid map.get( $borders, "default" ) map.get( $colours, "black" );
		background-color: #0000;
		color: inherit;

		@media (hover: hover) {
			&:hover:not( &:disabled ) {
				border: solid map.get( $borders, "default" ) map.get( $colours, "hotpurple" );
				background-color: #0000;
			}
		}
	}
}