@use "sass:map";
@import "styles/variables";

.menuSlider {
	display: contents;
	position: fixed;
	top: 0;
	right: 0;
	grid-template-rows: 1fr auto;
	align-items: center;
	justify-content: center;
	transform: translateX( 200% ) translateY( -200% );
	transition: transform 0.3s ease-in-out;
	background-color: map.get( $colours, "yellow" );
	padding: map.get( $spaces, "xxl" ) map.get( $spaces, "xl" );
	width: 100vw;
	height: 100vh;

	&[aria-hidden=false] {
		transform: translateX( 0 ) translateY( 0 );
	}

	ul {
		display: none;
	}

	@media ( max-width: map.get( $breakpoints, "md" ) ) {
		display: grid;

		nav {
			font-size: map.get( $fontsizes, "display-1" );
			flex-flow: column;
		}

		ul {
			display: flex;
		}
	}
}