@use "sass:map";
@import "styles/variables";

.blogsingle {
	padding: var(--sectionMargin) var(--borderSpacing) 0 var(--borderSpacing);
	max-width: 750px;
	margin: 0 auto;
	box-sizing: content-box;


	&_title {
		font-size: var(--h2);
		font-weight: 700;
	}

	&_content {
		border-top: 2px solid map.get( $colours, "pinkred" );
		padding-top: calc(var(--gap));
	}

	&_back {
		padding-top: var(--gap);
	}
}
