@use "sass:map";
@import "styles/variables";

.postFeed {
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax( 280px, 1fr ) );
	padding: 0 map.get( $spaces, "padx-content" );
	gap: map.get( $spaces, "lg" );

	@media ( min-width: map.get( $breakpoints, "lg" ) ) {
		gap: map.get( $spaces, "xl" );
	}
}