@use "sass:map";
@import "styles/variables";

.titleBanner {
	position: relative;
	padding: 0 map.get( $spaces, "padx-content" ) map.get( $spaces, "xxl" );
}
	.titleBanner_flex {
		height: 100%;
		display: flex;
		align-items: flex-end;
		justify-content: flex-start;
	}
		.titleBanner_content {
			position: relative;
			width: 100%;

			h1 {
				font-size: map.get( $fontsizes, "display-1" );
				border-bottom: map.get( $borders, "default" ) solid rgb(0, 0, 0);
				display: inline-block;
			}
		}
		.titleBanner_date {
			color: #333;
		}