$breakpoints: (
	"xs": 0,
	"sm": 576px,
	"md": 768px,
	"lg": 992px,
	"xl": 1200px,
	"xxl": 1400px,
);

$colours: (
	"pinkred": #ff1e5f,
	"yellow": #f8f801,
	"cyan": #02ddbb,
	"skyblue": #00c1fd,
	"hotpurple": #d814d4,
	"purple": #7109aa,
	"black": #000,
	"white": #fff,
	"inactive": #555,
);

$spaces: (
	"xs": 8px,
	"sm": 12px,
	"md": 16px,
	"lg": 24px,
	"xl": 32px,
	"xxl": 48px,
	"xxxl": 80px,
);

$borders: (
	"fine": 1px,
	"default": 3px,
	"thick": 5px,
	"heavy": 10px,
);

$borderradius: (
	"xs": 2px,
	"sm": 6px,
	"md": 12px,
	"lg": 32px,
);

$fontsizes: (
	"display-1": calc(1.625rem + 4.5vw),
	"display-2": calc(1.575rem + 3.9vw),
	"display-3": calc(1.525rem + 3.3vw),
	"display-4": calc(1.475rem + 2.7vw),
	"display-5": calc(1.425rem + 2.1vw),
	"display-6": calc(1.375rem + 1.5vw),
	"h1": calc(1.375rem + 1.5vw),
	"h2": calc(1.325rem + .9vw),
	"h3": calc(1.3rem + .6vw),
	"h4": calc(1.275rem + .3vw),
	"h5": 1.25rem,
	"h6": 1rem,
	"small": 0.85rem,
	"xsmall": 0.7rem,
);


@media (min-width:1200px) {
	$fontsizes: (
		"display-1": 5rem,
		"display-2": 4.5rem,
		"display-3": 4rem,
		"display-4": 3.5rem,
		"display-5": 3rem,
		"display-6": 2.5rem,
		"h1": 2.5rem,
		"h2": 2rem,
		"h3": 1.75rem,
		"h4": 1.5rem,
		"h5": 1.25rem,
		"h6": 1rem,
		"small": 0.85rem,
		"xsmall": 0.7rem,
	);
}

$decorations: (
	"textshadow": 0px 0px 5px rgba(0, 0, 0, 1),
	"boxshadow": 0px 15px 22px 3px rgba(0, 0, 0, 0.55),
);