@use "sass:map";
@import "styles/variables";

/* This should include any WordPress classes that need to be supported like those in post content */


.alignnone {
    margin: map.get( $spaces, "xs" ) map.get( $spaces, "lg" ) map.get( $spaces, "lg" ) 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: map.get( $spaces, "xs" ) auto;
}

.alignright {
    float:right;
    margin: map.get( $spaces, "xs" ) 0 map.get( $spaces, "lg" ) map.get( $spaces, "lg" );
}

.alignleft {
    float: left;
    margin: map.get( $spaces, "xs" ) map.get( $spaces, "lg" ) map.get( $spaces, "lg" ) 0;
}

a img.alignright {
    float: right;
    margin: map.get( $spaces, "xs" ) 0 map.get( $spaces, "lg" ) map.get( $spaces, "lg" );
}

a img.alignnone {
    margin: map.get( $spaces, "xs" ) map.get( $spaces, "lg" ) map.get( $spaces, "lg" ) 0;
}

a img.alignleft {
    float: left;
    margin: map.get( $spaces, "xs" ) map.get( $spaces, "lg" ) map.get( $spaces, "lg" ) 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #fff;
    border: map.get( $borders, "fine" ) solid #f0f0f0;
    padding: map.get( $spaces, "xs" ) map.get( $spaces, "md" );
    text-align: center;
}

.wp-caption.alignleft {
    margin-left: 0;
}

.wp-caption.alignright {
    margin-right: 0;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 map.get( $spaces, "xs" ) map.get( $spaces, "xs" );
}

/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: map.get( $spaces, "md" ) map.get( $spaces, "lg" ) map.get( $spaces, "md" );
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
}

.wp-block-table {
	overflow-x: auto;

	& table {
		margin: map.get( $spaces, "lg" ) 0;
		min-width: 400px;
		border-collapse: collapse;
		border-radius: map.get( $borderradius, "sm" );
		overflow: hidden;
	}

	& thead tr {
		background-color: map.get( $colours, "purple" );
		text-align: left;
		color: #ffffff;
	}

	& th,
	& td {
		padding: map.get( $spaces, "sm" ) map.get( $spaces, "md" );
	}

	& tbody tr {
		border-bottom: map.get( $borders, "fine" ) solid #dddddd;
	}
	
	& tbody tr:nth-of-type(even) {
		background-color: #f3f3f3;
	}
	
	& tbody tr:last-of-type {
		border-bottom: map.get( $borders, "default" ) solid map.get( $colours, "purple" );
	}

	& tbody tr.active-row {
		font-weight: bold;
		color: #009879;
	}
}

.is-layout-flex {
	display: flex;
	max-width: 100%;
	gap: map.get( $spaces, "sm" );
}

.wp-block-column {
	flex: 1 1;
	min-width: 0
}

.is-content-justification-center {
	text-align: center;
	justify-content: center;
}
.is-content-justification-left {
	justify-content: flex-start;
}
.is-content-justification-right {
	justify-content: flex-end;
}

.wp-block-buttons {
	margin: map.get( $spaces, "lg" ) 0 map.get( $spaces, "lg" ) 0;
	gap: map.get( $spaces, "lg" );
}

.wp-block-button__link {
	display: inline-flex;
	position: relative;
	align-items: center;
	align-self: flex-start;
	transition: color 0.3s ease;
	border: 0;
	background-color: transparent;
	padding: 0;
	padding-bottom: 15px;
	text-transform: capitalize;
	text-decoration: none;
	color: inherit;
	font-size: inherit;
	font-weight: 700;
	font-variation-settings: 'wght' 700;

	&::after {
		content: "";
		display: block;
		position: absolute;
		height: 3px;
		left: 0;
		right: 0;
		bottom: 8px;
		background-color: map.get( $colours, "pinkred" );
		transition: left 0.3s ease;
	}

	&:focus {
		color: map.get( $colours, "pinkred" );
	}

	@media (hover: hover) {
		&:hover {
			cursor: pointer;
			color: map.get( $colours, "pinkred" );

			&::after {
				left: 100%;
			}
		}
	}
}

.wp-block-image,
.wp-block-image img {
	max-width: 100%;
}

.wp-block-image img {
	max-width: 100%;
	border-radius: map.get( $borderradius, "sm" );
}

.wp-block-pullquote blockquote {
	margin-left: 0;
	border-top: map.get( $borders, "default" ) solid map.get( $colours, "pinkred" );
	border-bottom: map.get( $borders, "default" ) solid map.get( $colours, "pinkred" );
	border-left: none;
	padding: map.get( $spaces, "xxl" );
	text-align: center;
	font-size: map.get( $fontsizes, "h2" );
	font-weight: 700;
	font-style: italic;
	font-variation-settings: 'slnt' -10, 'wght' 700;

	& cite {
		font-size: map.get( $fontsizes, "h6" );
		font-weight: 400;
		font-variation-settings: 'slnt' -10, 'wght' 400;
	}
}