@use "sass:map";
@import "styles/variables";

.logoSVG {
	object-fit: contain;
	transition: color 0.3s ease;
	margin-top: 5px;
	margin-bottom: 5px;
	max-width: 100%;
	height: 200px;
	max-height: 100%;
	text-decoration: none;
	transition: all 0.5s ease-in-out;


	&:hover,
	&:focus {
		color: map.get( $colours, "pinkred" );
	}

	img {
		max-height: 100%;
	}
}