@use "sass:map";
@import "styles/variables";

.hero-banner {
	height: 100vh;
	position: relative;
	padding: map.get( $spaces, "xxl" ) map.get( $spaces, "padx-content" );
	color: #fff;
}
	.container {
		height: 100%;
		display: flex;
		align-items: flex-end;
		justify-content: flex-start;
	}

		.banner-image,
		.gradient {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			z-index: 1;
		}

		.gradient {
			background: radial-gradient(
				at bottom left,
				rgba(0, 0, 0, 0.5),
				rgba(0, 0, 0, 0)
			);
		}

		.banner-content {
			position: relative;
			z-index: 2;
			width: 100%;

			@media (min-width: 768px) {
				width: 66vw;
			}

			h1 {
				font-size: map.get( $fontsizes, "display-1" );
				border-bottom: map.get( $borders, "default" ) solid rgba(255, 255, 255, 0.15);
				display: inline-block;
				text-shadow: map.get( $decorations, "textshadow" );
			}
		}