@use "sass:map";
@import "styles/variables";

.container {
	max-width: 1920px;
}

.width-tight {
	max-width: 1400px;
}

.centered {
	margin-left: auto;
	margin-right: auto;
}

.padded {
	padding-left: map.get( $spaces, "padx-content" );
	padding-right: map.get( $spaces, "padx-content" );
}