@use "sass:map";
@import "styles/variables";

.header {
	grid-area: header;
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: space-between;
	gap: map.get( $spaces, "xxl" );
	z-index: 10;
	margin-bottom: map.get( $spaces, "xxl" );
	padding: map.get( $spaces, "xxl" ) map.get( $spaces, "xl" ) 0 map.get( $spaces, "xl" );
	width: 100%;
}

.headerAbsolute {
	position: absolute;
	top: 0;
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: space-between;
	gap: map.get( $spaces, "xxl" );
	z-index: 10;
	margin-bottom: map.get( $spaces, "xxl" );
	padding: map.get( $spaces, "xxl" ) map.get( $spaces, "xl" ) 0 map.get( $spaces, "xl" );
	width: 100%;
}