@use "sass:map";
@import "styles/variables";

.sidebar {
	grid-area: sidebar;
	padding: 0 map.get( $spaces, "padx-content" );

	/* temp */
	border: solid 1px;



	@media ( min-width: map.get( $breakpoints, "lg" ) ) {
		width: 300px;
	}

	@media ( min-width: map.get( $breakpoints, "xl" ) ) {
		width: 400px;
		max-width: 400px;
	}
}