@use "sass:map";
@import "styles/variables";

.footer {
	grid-area: footer;
	padding: 0 map.get( $spaces, "padx-content" ) map.get( $spaces, "xxl" );
	margin-top: map.get( $spaces, "xxxl" );
	font-weight: 700;
	font-variation-settings: "wght" 700;
	max-width: 100vw;

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			width: fit-content;

			a {
				transition: color 0.3s ease;
			}
		}
	}
}

.footer_inner {
	display: flex;
	flex-flow: column;
	justify-content: flex-end;
	gap: map.get( $spaces, "xl" );

	@media (min-width: 768px) {
		align-items: flex-start;
		flex-direction: row;
	}

	@media (min-width: map.get( $breakpoints, "xl" )) {
		gap: map.get( $spaces, "xxxl" );
	}
}

.footer_menu {
	@media ( min-width: map.get( $breakpoints, "md" ) ) {
		flex-grow: 1;
		width: 33.333%;
	}

	h5 {
		margin-top: 0;
		display: inline-block;
		border-bottom: map.get( $borders, "default" ) solid;
	}
	ul {
		margin-bottom: map.get( $spaces, "xxl" );

		li {
			margin-bottom: map.get( $spaces, "sm" );
			margin-top: map.get( $spaces, "sm" );
	
			a {
				color: map.get( $colours, "black" );
				text-decoration: none;
				text-transform: capitalize;
			}

			&:hover,
			&:focus {
				a {
					color: map.get( $colours, "pinkred" );
				}
			}
		}
	}
}

.copyright {
	font-size: 13px;
	padding-top: map.get( $spaces, "xxl" );

	p {
		margin: 0;

		a {
			display: inline-block;
			color: map.get( $colours, "pinkred" );
			text-decoration: none;

			&:hover,
			&:focus {
				transform: rotate(-5deg) scale(1.1);
				transition: all 0.2s ease;
			}
		}

		span {
			color: map.get( $colours, "pinkred" );
		}
	}
}