@use "sass:map";
@import "styles/variables";

.footer {
	display: flex;
	flex-flow: column;
	justify-content: flex-end;
	padding: 0 var(--borderSpacing) var(--gap) var(--borderSpacing);
	margin-top: var(--gap);
	font-weight: 700;
	font-variation-settings: "wght" 700;

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			width: fit-content;

			a {
				transition: color 0.3s ease;
			}
		}
	}
}

.container {
	display: flex;
	flex-flow: column;
	justify-content: flex-end;
	gap: var(--gap);

	@media (min-width: 768px) {
		align-items: flex-start;
		flex-direction: row;
	}

	@media (min-width: 1200px) {
		gap: calc(var(--gap) * 2);
	}
}

.footer_menu {
	@media (min-width: 768px) {
		flex-grow: 1;
		width: 33.333%;
	}

	h5 {
		margin-top: 0;
		display: inline-block;
		border-bottom: 2px solid;
	}
	ul {
		margin-bottom: var(--gap);

		@media (min-width: 768px) {
			display: flex;
			flex-direction: column;
		}

		li {
			margin-top: 5px;
			margin-bottom: 5px;
	
			a {
				color: map.get( $colours, "black" );
				text-decoration: none;
				text-transform: capitalize;
			}

			&:hover,
			&:focus {
				a {
					color: map.get( $colours, "pinkred" );
				}
			}
		}
	}
}

.social {
	margin-bottom: var(--gap);

	ul {
		display: flex;

		@media (min-width: 768px) {
			flex-direction: row;
		}

		li {
			font-size: var(--h4);
			margin-right: 8px;

			@media (min-width: 768px) {
				margin-left: 5px;
				margin-right: 5px;
			}

			a {
				color: map.get( $colours, "black" );
			}

			&:hover,
			&:focus {
				a {
					color: map.get( $colours, "pinkred" );
				}
			}
		}
	}
}

.copyright {
	font-size: 13px;
	padding-top: var(--gap);

	p {
		margin: 0;

		a {
			display: inline-block;
			color: map.get( $colours, "pinkred" );
			text-decoration: none;

			&:hover,
			&:focus {
				transform: rotate(-5deg) scale(1.1);
				transition: all 0.2s ease;
			}
		}

		span {
			color: map.get( $colours, "pinkred" );
		}
	}
}