@use "sass:map";
@import "styles/variables";

.flexColumn {
	display: flex;
	flex-flow: column;
	gap: var(--gap);

	> * {
		flex: 0 0 100%;

		@media(min-width:414px) {
			flex-basis: calc(50% - (calc(var(--gap) / 2)));
		}

		@media(min-width:1024px) {
			flex-basis: calc(33.333% - 27px);
		}
	}
}