@use "sass:map";
@import "styles/variables";

.buttonGroup,
.buttonGroup-column,
.buttonGroup-end,
.buttonGroup-centre {
	display: flex;
	flex-flow: row wrap;
    justify-content: flex-start;
	gap: map.get( $spaces, "sm" );

	&-column {
		flex-flow: column;
	}

	&-end {
		justify-content: flex-end;
	}

	&-centre {
		justify-content: center;
	}
}