@use "sass:map";
@import "styles/variables";

.buttonGroup {
	display: flex;
	flex-flow: row wrap;
    justify-content: flex-start;
	gap: map.get( $spaces, "sm" );
}

.buttonGroup-column {
	flex-flow: column;
}

.buttonGroup-end {
	justify-content: flex-end;
}

.buttonGroup-centre {
	justify-content: center;
}
