@use "sass:map";
@import "styles/variables";

.nav {
	display: flex;
	flex-flow: row wrap;
	margin-bottom: map.get( $spaces, "xxl" );
	font-family: 'Roboto FlexVariable', Arial, sans-serif;
	font-size: 1.25em;
	font-weight: 900;
	font-variation-settings: 'wght' 900, 'wdth' 30;

	a {
		transition: color 0.3s ease;
		margin-top: 0;
		margin-bottom: 5px;
		padding-right: 2rem;
		text-transform: uppercase;
		text-decoration: none;
		color: map.get( $colours, "black" );
		font-weight: 700;

		&:last-child {
			padding-right: 0;
		}

		&:hover,
		&:focus {
			color: map.get( $colours, "pinkred" );
		}
	}
}